[submodule "containers/database"]
	path = containers/database
	url = https://github.com/jil8885/hyuabot-database-initializer
[submodule "containers/bus/realtime"]
	path = containers/bus/realtime
	url = https://github.com/hyuabot-developers/hyuabot-bus-realtime-updater
[submodule "containers/bus/timetable"]
	path = containers/bus/timetable
	url = https://github.com/hyuabot-developers/hyuabot-bus-timetable-updater
[submodule "containers/subway/timetable"]
	path = containers/subway/timetable
	url = https://github.com/hyuabot-developers/hyuabot-subway-timetable-updater
[submodule "containers/subway/realtime"]
	path = containers/subway/realtime
	url = https://github.com/hyuabot-developers/hyuabot-subway-realtime-updater
[submodule "containers/library"]
	path = containers/library
	url = https://github.com/hyuabot-developers/hyuabot-library-updater
[submodule "containers/cafeteria"]
	path = containers/cafeteria
	url = https://github.com/hyuabot-developers/hyuabot-cafeteria-updater
[submodule "containers/api"]
	path = containers/api
	url = https://github.com/hyuabot-developers/hyuabot-backend-golang
[submodule "containers/shuttle"]
	path = containers/shuttle
	url = https://github.com/hyuabot-developers/hyuabot-shuttle-timetable-updater
[submodule "web"]
	path = web
	url = https://github.com/hyuabot-developers/hyuabot-client-pwa
	branch = gh-pages
[submodule "containers/kakao"]
	path = containers/kakao
	url = https://github.com/hyuabot-developers/hyuabot-kakao-i-server-golang
[submodule "containers/backend/python"]
	path = containers/backend/python
	url = https://github.com/jil8885/hyuabot-backend-fastapi
