# Deploy API Server
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hyuabot-backend-kotlin
  namespace: hyuabot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hyuabot-backend-kotlin
  template:
    metadata:
      labels:
        app: hyuabot-backend-kotlin
    spec:
      containers:
      - name: api
        image: localhost:5000/hyuabot-backend-kotlin:latest
        ports:
        - containerPort: 8080
---
# Service for API Server
apiVersion: v1
kind: Service
metadata:
  name: hyuabot-backend-kotlin-service
  namespace: hyuabot
spec:
  selector:
    app: hyuabot-backend-kotlin
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 8080